<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top {{results['resultsnum']}} {{results['tracksorartists']}} for Your Countries</title>
    <link rel='stylesheet' href='/static/topmusicstyle.css'>
    <script type="text/javascript">
        function initMap() {
            var locations = [
                {% for country in results['coordinates'] %}
                ['{{country}}',{{ results['coordinates'][country][0] }}, {{ results['coordinates'][country][1]}},
                    {% if results['tracks'] == True %} '{{ results['tracksinfo'][country][0].name }}', {% endif %}
                    {% if results['artists'] == True %} '{{ results['artistsinfo'][country][0].name }}' {% endif %}]
                    {%if not loop.last%},{% endif %}
                {% endfor %}
                ];

            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 3,
                center: {lat: locations[0][1], lng: locations[0][2]}
            });

            var i;
            for (i = 0; i < locations.length; i++) {
                const marker = new google.maps.Marker({
                    position: {lat: locations[i][1], lng: locations[i][2]},
                    map: map,
                });
                var contentString =
                    "<h2>" + locations[i][0] + "</h2>";

                {% if (results['tracks'] == True) and (results['artists'] == True) %}
                    contentString += "<p>Top track: " + locations[i][3] + "<p>";
                    contentString += "<p>Top artist: " + locations[i][4] + "<p>";
                {% elif results['tracks'] == True %}
                    contentString += "<p>Top track: " + locations[i][3] + "<p>";
                {% elif results['artists'] == True %}
                    contentString += "<p>Top artist: " + locations[i][3] + "<p>";
                {% endif %}

                const infowindow = new google.maps.InfoWindow({
                   content: contentString,
                });
                marker.addListener("click", () => {
                   infowindow.open(map, marker);
                });
            }
        }

    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
    defer>
    </script>
</head>

<body>

    <div class="header">
        <h1>Top {{results['resultsnum']}} {{results['tracksorartists']}} for your countries:</h1>
    </div>

    <div id="map"></div>

    <div id="results">
        {% if results['artists'] == True %}
            {% for country in results['country'] %}
                <div class="artistresult">
                    <h4 class="resulttitle">Artists - {{ country }}: </h4>
                    <ol>
                        {% for artist in results['artistsinfo'][country] %}
                            <li><a href="{{artist.url}}">{{artist.name}}</a></li>
                        {% endfor %}
                    </ol>
                </div>
            {% endfor %}
        {% endif %}

    {% if results['tracks'] == True %}
        {% for country in results['country'] %}
            <div class="trackresult">
                <h4 class="resulttitle">Tracks - {{ country }}:</h4>
                <ol>
                    {% for track in results['tracksinfo'][country] %}
                        <li class="result"><a href="{{track.url}}">{{track.name}}</a> - <a href="{{track.artisturl}}">{{track.artist}}</a></li>
                    {% endfor %}
                </ol>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</body>
</html>