<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biggest Tracks/Artists Around the World</title>
    <!--    Not linking to the style sheet because... when I did, the form didn't look the same I couldn't figure out why oops-->
    <!--    <link rel='stylesheet' href="{{ url_for('static', filename='topmusicstyle.css') }}" type='text/css' />-->
    <style>
        * {
            background-color: #FCDFCE;
            font-family: Montserrat, sans-serif;
        }
        form {
            margin: 0 auto;
            width: 500px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        form li + li {
            margin-top: 1em;
        }
        input {
            background-color: #FFFFFF;
        }
        label {
            text-decoration-color: #5B80CB;
        }
    </style>
</head>
<body>
<h1 style=text-align:center;text-decoration-color:#1E2749>Biggest Tracks/Artists Around the World</h1>

<div>
    <form action="locationget" method="get">
        <ul>
            <li>
                <label for="country">Enter a country or a list of countries separated by commas (e.g. Japan, Nigeria, Russia):</label>
                <input type="text" id="country" name="country"/>
            </li>
            <li>
                <label for="toptracks">Top tracks? </label>
                <input type="checkbox" id="toptracks" name="infotype" value="toptracks"/>
            </li>
            <li>
                <label for="topartists">Top artists?</label>
                <input type="checkbox" id="topartists" name="infotype" value="topartists"/>
            </li>
            <li>
                <label for="results">How many results do you want?</label>
                <input type="text" id="results" name="results"/>
            </li>
            <li>
                <input type="submit" value="Submit">
            </li>
        </ul>
    </form>
</div>

</body>
</html>