<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biggest Tracks/Artists Around the World</title>
    <link rel='stylesheet' href='/static/topmusicstyle.css' />
</head>
<body>
<h1 style=text-align:center;text-decoration-color:#1E2749>Biggest Tracks/Artists Around the World</h1>

<div>
    <form action="locationget" method="get">
        <ul>
            <li>
                <label for="country">Enter a country or a list of countries separated by commas (e.g. Japan, Nigeria, Russia):</label>
                <input type="text" id="country" name="country"/>
            </li>
            <li>
                <label for="toptracks">Top tracks? </label>
                <input type="checkbox" id="toptracks" name="infotype" value="toptracks"/>
            </li>
            <li>
                <label for="topartists">Top artists?</label>
                <input type="checkbox" id="topartists" name="infotype" value="topartists"/>
            </li>
            <li>
                <label for="results">How many results do you want?</label>
                <input type="text" id="results" name="results"/>
            </li>
            <li>
                <input type="submit" value="Submit">
            </li>
        </ul>
    </form>
</div>

</body>
</html>