<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biggest Tracks/Artists Around the World</title>
    <link rel='stylesheet' href='/static/topmusicstyle.css' />
</head>
<body>
<div class="header">
    <h1>Biggest Tracks/Artists Around the World</h1>
</div>

<div class="form">
    <form action="locationget" method="get">
        <ul>
            {% if prompt %}
            <li style="color: red">{{ prompt }}</li>
            {% endif %}
            <li class="form-inline">
                <label for="country">Enter a <a href="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes" target="_blank" rel="noopener noreferrer">country</a> or a list of countries separated by commas (e.g. Japan, Nigeria, Russia):</label>
                <input type="text" id="country" name="country"/>
            </li>
            <li>
                <label for="toptracks">Top tracks? </label>
                <input type="checkbox" id="toptracks" name="infotype" value="toptracks"/>
            </li>
            <li>
                <label for="topartists">Top artists?</label>
                <input type="checkbox" id="topartists" name="infotype" value="topartists"/>
            </li>
            <li class="form-inline">
                <label for="results">How many results do you want?</label>
                <input type="text" id="results" name="results"/>
            </li>
{#            <li>#}
{#                <input type="submit" value="Submit">#}
{#            </li>#}
        </ul>
        <div class="form">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>

</body>
</html>